
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik';
}

html {
  height: 100%;
  background-color: #FFFFFF;
}
#top-bar {
  background-color: #E20074;
  height: 100px;
  box-shadow: 2px;
  display: flex;
  align-items: center;
  
}

#top-bar p {
  font-size: 2rem;
  font-weight: 900;
  margin: 0 0 0 10%;
  color: #FFFFFF;
}

/* -------------- UPLOADING DATA --------------*/
#upload-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#upload-box .box {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  padding: 5% 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 100px;

  margin-left: 10%;
}
#upload-box .box h1 {
  font-size: 2rem;
  margin-bottom: 2%;
}

#upload-box .box button {
  background: none;
  border: 1.3px solid #000000;
  border-radius: 100px;
  padding: 2% 5%;

}#upload-box .box input {
  text-align: center;
}

#upload-box .box .button-and-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.upload-and-score {
 display: flex;
 margin: 5% 0;
}
/*--------------- SCORE ---------------------*/
#score-box {
  
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 10% 5%;
  border-radius: 100px;
  width: 70%;

  margin-right: 10%;
}

.score h1 {
  font-size: 2rem;
}

/* -------------- Mdash --------------*/
.mdash-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mdash-box h1 {
  margin: 2% 0;
}
.mdash-box .mdash {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 100px;
  width: 81%;
  padding: 5%;
}
/* -------------- SUMMARY --------------*/

.summary-box {
  margin: 5% 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-box h1 {
  margin: 2% 0;
}
.summary-box .summary {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 100px;
  width: 81%;
  padding: 5%;
  margin-bottom: 10%;
}

/*---------- PROGRESS BAR -------------*/
.progress-bar {
  background-color: #cecbcb;
  border-radius: 100px;
  margin-bottom: 2%;
}
.progress-bar * {
  border-radius: 100px;
}
.progress-bar-fill {
  height: 24px;
  background-color: #e20074;
}
/*

box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

*/