
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik';
}

html {
  height: 100%;
  background-color: #e9dfd5;
}
#top-bar {
  height: 100px;
  box-shadow: 2px;
  display: flex;
  align-items: center;
  border-bottom: 1.2px solid #000000;
}

#top-bar p {
  font-size: 2rem;
  font-weight: 900;
  margin: 0 0 0 10%;
}

/* -------------- UPLOADING DATA --------------*/
#upload-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

#upload-box .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border: 1.3px solid #000000;
  padding: 5% 10%;
  border-radius: 100px;
}
#upload-box .box h1 {
  font-size: 2.5rem;
}

#upload-box .box button {
  background: none;
  border: 1.3px solid #000000;
  border-radius: 100px;
  padding: 2% 5%;

}
#upload-box .box .button-and-input input[type=file] {
  background: none;
  background-color: #e84125;
  border: 1.3px solid #000000;
  border-radius: 100px;
  padding: 2% 5%;
}

#upload-box .box .button-and-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* -------------- SHOWING DATA --------------*/
